aiodns==3.2.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.13
aiomultiprocess==0.9.1
aiosignal==1.3.2
aiosqlite==0.21.0
alembic==1.17.0
amqp==5.2.0
annotated-types==0.7.0
anyio==4.9.0
argcomplete==3.6.1
asttokens==3.0.0
attrs==25.3.0
backoff==2.2.1
bcrypt==4.0.1
beautifulsoup4==4.13.3
billiard==4.2.1
blinker==1.8.2
blis==1.3.0
cachetools==5.5.2
catalogue==2.0.10
celery==5.4.0
censys==2.2.16
certifi==2025.1.31
cffi==2.0.0
charset-normalizer==3.4.1
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cloudpathlib==0.21.1
colorama==0.4.6
comm==0.2.3
comtypes==1.4.11
confection==0.1.5
contourpy==1.3.0
cryptography==46.0.3
cycler==0.12.1
cymem==2.0.11
debugpy==1.8.17
decorator==5.2.1
Deprecated==1.2.18
diskcache==5.6.3
dnspython==2.7.0
ecdsa==0.19.1
email-validator==2.3.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
executing==2.2.1
fastapi==0.115.11
filelock==3.18.0
Flask==3.0.3
fonttools==4.54.1
frozenlist==1.5.0
fsspec==2025.7.0
google-ai-generativelanguage==0.6.15
google-api-core==2.25.1
google-api-python-client==2.176.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-generativeai==0.8.5
googleapis-common-protos==1.70.0
greenlet==3.1.1
grpcio==1.73.1
grpcio-status==1.71.2
h11==0.14.0
httplib2==0.22.0
httptools==0.6.4
idna==3.10
imagecodecs==2024.9.22
imagetk==0.1.2
ipykernel==7.0.1
ipython==9.6.0
ipython_pygments_lexers==1.1.1
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jupyter_client==8.6.3
jupyter_core==5.9.1
kiwisolver==1.4.7
kombu==5.4.2
langcodes==3.5.0
language_data==1.3.0
limits==4.4.1
llama_cpp_python==0.3.14
llvmlite==0.44.0
lxml==5.3.1
Mako==1.3.10
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
more-itertools==10.7.0
mpmath==1.3.0
multidict==6.2.0
murmurhash==1.0.13
nest-asyncio==1.6.0
netaddr==1.3.0
networkx==3.5
numba==0.61.2
numpy==2.1.1
openai-whisper==20250625
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
packaging==24.1
palmerpenguins==0.1.4
pandas==2.2.3
parso==0.8.5
passlib==1.7.4
pillow==10.4.0
platformdirs==4.5.0
playwright==1.51.0
preshed==3.0.10
prompt_toolkit==3.0.48
propcache==0.3.1
proto-plus==1.26.1
protobuf==5.29.5
psutil==7.1.1
psycopg2-binary==2.9.11
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyAudio==0.2.14
pycares==4.5.0
pycparser==2.22
pydantic==2.11.1
pydantic-settings==2.11.0
pydantic_core==2.33.0
pyee==12.1.1
pygame==2.6.0
Pygments==2.19.2
pyparsing==3.1.4
PyPDF2==3.0.1
pypiwin32==223
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-jose==3.5.0
python-multipart==0.0.20
pyttsx3==2.99
pytz==2024.2
pywin32==311
PyYAML==6.0.2
pyzmq==27.1.0
regex==2024.11.6
requests==2.32.3
requests-file==2.1.0
retrying==1.3.4
rich==14.0.0
rsa==4.9.1
scipy==1.14.1
setuptools==80.9.0
shellingham==1.5.4
shodan==1.31.0
six==1.16.0
slowapi==0.1.9
smart_open==7.3.0.post1
sniffio==1.3.1
soupsieve==2.6
spacy==3.8.7
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.14.3
SQLAlchemy==2.0.44
srsly==2.5.1
stack-data==0.6.3
starlette==0.46.1
Sublist3r==1.0
sympy==1.14.0
theHarvester @ git+https://github.com/laramies/theHarvester.git@8785fdd601a99aecee0967b8775a4311d3771ef1
thinc==8.3.6
tifffile==2024.9.20
tiktoken==0.9.0
tldextract==5.1.3
torch==2.7.1
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
typer==0.16.0
typing-inspection==0.4.0
typing_extensions==4.14.1
tzdata==2024.2
ujson==5.10.0
unittest-xml-reporting==3.2.0
uritemplate==4.2.0
urllib3==2.3.0
uvicorn==0.34.0
vine==5.1.0
wasabi==1.1.3
watchfiles==1.0.4
wcwidth==0.2.13
weasel==0.4.1
websockets==15.0.1
Werkzeug==3.0.5
wheel==0.45.1
winloop==0.1.8
wrapt==1.17.2
XlsxWriter==3.2.2
yarl==1.18.3
